**** PANDAS ****

Pandas is apython library used for working with data sets  it has function for analyzing ,exploring and manipulating data pandas allows us to analyze big and make conclution based on statistical theories .Pandas can clean messy data sets, and make them readable and relevent
Relevent data is very important in data science

in pandas One dimention is called 'Series' two dimention is called 'data frame' tree diamention is 'panel'

In [ ]:
import pandas as pd

data = [3,4,5,6]

a = pd.Series(data)

print(a)

0    3
1    4
2    5
3    6
dtype: int64

In [ ]:
import pandas as pd

data = (3,4,5,6)

a = pd.Series (data)

print(a)

0    3
1    4
2    5
3    6
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

data = ([3,4,5,6])

a = pd.Series (data)

print(a)

0    3
1    4
2    5
3    6
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

data = np.array([[4,3,5,6],[3,2,1]])

a = pd.Series (data)

print(a)

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (2,) + inhomogeneous part.

In [ ]:
import pandas as pd

data = (3,4,5,6)

a = pd.Series (data)

print(a)
print(a.shape)
print(a.ndim)
print(a.size)
print(a.dtype)

0    3
1    4
2    5
3    6
dtype: int64
(4,)
1
4
int64

In [ ]:
import pandas as pd
import numpy as np

data = ([1,2,3,4,5])

a = pd.Series (data, index=[100,10,20,40,50])

print(a)

100    1
10     2
20     3
40     4
50     5
dtype: int64

In [ ]:
import pandas as pd

data = {'arifa':0,'ball':1,'car':2}

a = pd.Series (data)

print(a)

arifa    0
ball     1
car      2
dtype: int64

In [ ]:
import pandas as pd

data = {5:'apple',3:'bat',1:'car'}

a = pd.Series (data, index=[3,4,2,5,1])

print(a)

print(a[[1,2,3]])

3      bat
4      NaN
2      NaN
5    apple
1      car
dtype: object
1    car
2    NaN
3    bat
dtype: object

In [ ]:
import pandas as pd
import numpy as np

data = {5:'apple',3:'bat',1:'car'}

a = pd.Series (data, index=[3,4,2,5,1])

print(a)

print(a[0:3])

3      bat
4      NaN
2      NaN
5    apple
1      car
dtype: object
3    bat
4    NaN
2    NaN
dtype: object

**DATA FRAME**

In [ ]:
import pandas as pd
import numpy as np

data = [[3,5,8,2],[3,5,8,1]]

s = pd.DataFrame (data)

print(s)

   0  1  2  3
0  3  5  8  2
1  3  5  8  1

In [ ]:
import pandas as pd
import numpy as np

data = [['arifa',50,60,70],['fida',40,70,80]]

s = pd.DataFrame (data)

print(s)

       0   1   2   3
0  arifa  50  60  70
1   fida  40  70  80

In [ ]:
import pandas as pd
import numpy as np

data = {'Name':['arifa','fida','sana','minna'],'chem':[50,40,30,20],'phy':[60,70,80,90],'maths':[80,90,50,75]}

df = pd.DataFrame (data)

df['bio'] = [40,35,20,30]

df['total'] = df['chem'] +df['phy'] +df['maths'] +df['bio']

print(df)

    Name  chem  phy  maths  bio  total
0  arifa    50   60     80   40    230
1   fida    40   70     90   35    235
2   sana    30   80     50   20    180
3  minna    20   90     75   30    215

In [ ]:
import pandas as pd
import numpy as np

data = {'Name':['arifa','fida','sana','minna'],'chem':[50,40,30,20],'phy':[60,70,80,90],'maths':[80,90,50,75]}

df = pd.DataFrame (data)

df['bio'] = [40,35,20,30]

df['total'] = df['chem'] +df['phy'] +df['maths'] +df['bio']

print(df)


list1 = []

for i in df['total']:

  if i<100:
    list1.append(' avg')

  elif i<=200:
   list1.append('above avg')

  else:
    list1.append('exnt')

df['status'] = list1

print(df[['Name','status','chem']])

print(df)

    Name  chem  phy  maths  bio  total
0  arifa    50   60     80   40    230
1   fida    40   70     90   35    235
2   sana    30   80     50   20    180
3  minna    20   90     75   30    215
    Name     status  chem
0  arifa       exnt    50
1   fida       exnt    40
2   sana  above avg    30
3  minna       exnt    20
    Name  chem  phy  maths  bio  total     status
0  arifa    50   60     80   40    230       exnt
1   fida    40   70     90   35    235       exnt
2   sana    30   80     50   20    180  above avg
3  minna    20   90     75   30    215       exnt

In [ ]:
import pandas as pd
import numpy as np

data = {'Name':['arifa','fida','sana','minna'],'chem':[50,40,30,20],'phy':[60,70,80,90],'maths':[80,90,50,75]}

df = pd.DataFrame (data)

df['bio'] = [40,35,20,30]

df['total'] = df['chem'] +df['phy'] +df['maths'] +df['bio']

print(df)


list1 = []

for i in df['total']:

  if i<100:
    list1.append(' avg')

  elif i<=200:
   list1.append('above avg')

  else:
    list1.append('exnt')

df['status'] = list1

print(df[['Name','status','chem']])

df['status'] = list1

del df['chem']


print(df)

    Name  chem  phy  maths  bio  total
0  arifa    50   60     80   40    230
1   fida    40   70     90   35    235
2   sana    30   80     50   20    180
3  minna    20   90     75   30    215
    Name     status  chem
0  arifa       exnt    50
1   fida       exnt    40
2   sana  above avg    30
3  minna       exnt    20
    Name  phy  maths  bio  total     status
0  arifa   60     80   40    230       exnt
1   fida   70     90   35    235       exnt
2   sana   80     50   20    180  above avg
3  minna   90     75   30    215       exnt

In [ ]:
import pandas as pd
import numpy as np

data = {'Name':['arifa','fida','sana','minna'],'chem':[50,40,30,20],'phy':[60,70,80,90],'maths':[80,90,50,75]}

df = pd.DataFrame (data)

df['bio'] = [40,35,20,30]

df['total'] = df['chem'] +df['phy'] +df['maths'] +df['bio']

print(df)


list1 = []

for i in df['total']:

  if i<100:
    list1.append(' avg')

  elif i<=200:
   list1.append('above avg')

  else:
    list1.append('exnt')

df['status'] = list1

print(df[['Name','status','chem']])

df['status'] = list1

del df['chem']

df = df.drop('phy',axis=1)   #want to specify axis

#print(df[['name',.status','chem']])

print(df)

    Name  chem  phy  maths  bio  total
0  arifa    50   60     80   40    230
1   fida    40   70     90   35    235
2   sana    30   80     50   20    180
3  minna    20   90     75   30    215
    Name     status  chem
0  arifa       exnt    50
1   fida       exnt    40
2   sana  above avg    30
3  minna       exnt    20
    Name  maths  bio  total     status
0  arifa     80   40    230       exnt
1   fida     90   35    235       exnt
2   sana     50   20    180  above avg
3  minna     75   30    215       exnt

In [ ]:
import pandas as pd
import numpy as np

data = {'Name':['arifa','fida','sana','minna'],'chem':[50,40,30,20],'phy':[60,70,80,90],'maths':[80,90,50,75]}

df = pd.DataFrame (data)

df['bio'] = [40,35,20,30]

df['total'] = df['chem'] +df['phy'] +df['maths'] +df['bio']

print(df)


list1 = []

for i in df['total']:

  if i<100:
    list1.append(' avg')

  elif i<=200:
   list1.append('above avg')

  else:
    list1.append('exnt')

df['status'] = list1

print(df[['Name','status','chem']])

df['status'] = list1

del df['chem']

df = df.drop('phy',axis=1)   #want to specify axis

#print(df[['name',.status','chem']])

df.pop('maths')

print(df)

print(df.ndim)
print(df.shape)
print(df.size)
print(df.dtypes)

print(df.columns)

print(df['status'].unique())

print(df['status'].value_counts())

print(df['bio'].unique())

print(df)

    Name  chem  phy  maths  bio  total
0  arifa    50   60     80   40    230
1   fida    40   70     90   35    235
2   sana    30   80     50   20    180
3  minna    20   90     75   30    215
    Name     status  chem
0  arifa       exnt    50
1   fida       exnt    40
2   sana  above avg    30
3  minna       exnt    20
    Name  bio  total     status
0  arifa   40    230       exnt
1   fida   35    235       exnt
2   sana   20    180  above avg
3  minna   30    215       exnt
2
(4, 4)
16
Name      object
bio        int64
total      int64
status    object
dtype: object
Index(['Name', 'bio', 'total', 'status'], dtype='object')
['exnt' 'above avg']
status
exnt         3
above avg    1
Name: count, dtype: int64
[40 35 20 30]
    Name  bio  total     status
0  arifa   40    230       exnt
1   fida   35    235       exnt
2   sana   20    180  above avg
3  minna   30    215       exnt

In [ ]:
print(df)

    Name  bio  total     status
0  arifa   40    230       exnt
1   fida   35    235       exnt
2   sana   20    180  above avg
3  minna   30    215       exnt

In [ ]:
print(df.head())

    Name  bio  total     status
0  arifa   40    230       exnt
1   fida   35    235       exnt
2   sana   20    180  above avg
3  minna   30    215       exnt

In [ ]:
print(df.head(2))

    Name  bio  total status
0  arifa   40    230   exnt
1   fida   35    235   exnt

In [ ]:
print(df.tail())

    Name  bio  total     status
0  arifa   40    230       exnt
1   fida   35    235       exnt
2   sana   20    180  above avg
3  minna   30    215       exnt

In [ ]:
print(df.tail(3))

    Name  bio  total     status
1   fida   35    235       exnt
2   sana   20    180  above avg
3  minna   30    215       exnt

In [ ]:
print(df.describe())

             bio       total
count   4.000000    4.000000
mean   31.250000  215.000000
std     8.539126   24.832774
min    20.000000  180.000000
25%    27.500000  206.250000
50%    32.500000  222.500000
75%    36.250000  231.250000
max    40.000000  235.000000

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   bio     4 non-null      int64
 2   total   4 non-null      int64
 3   status  4 non-null      object
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes
None

In [ ]:
print(df['bio'].sum())

125

In [ ]:
print(df.sum(1))  #row wise

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(df.sum(0))  #column wise

Name         arifafidasanaminna
bio                         125
total                       860
status    exntexntabove avgexnt
dtype: object

In [ ]:
print(df['bio'].mean())

31.25

In [ ]:
import pandas as pd
import numpy as np

data = [['raju',40,60,40,40,60,12,4,6,40],['ramu',60,30,90,40,60,40],['dolu',40,50,1240,60,40]]

data1 = {'Name':['raju','ramu','sarang','raju','ramu','sarang','raju','ramu','sarang'],'chem':[40,60,40,40,60,40,40,60,40],'maths':[40,60,40,40,60,40,40,60,40],'phy':[40,60,40,40,60,40,40,60,40]}

df = pd.DataFrame (data1)

df ['bio'] = [60,48,50,60,48,50,60,48,50]

df ['total'] = df['chem'] +df['phy'] +df['maths'] +df['bio']

print(df)

df1 = df.iloc[0:5,0:4]

print(df1)

     Name  chem  maths  phy  bio  total
0    raju    40     40   40   60    180
1    ramu    60     60   60   48    228
2  sarang    40     40   40   50    170
3    raju    40     40   40   60    180
4    ramu    60     60   60   48    228
5  sarang    40     40   40   50    170
6    raju    40     40   40   60    180
7    ramu    60     60   60   48    228
8  sarang    40     40   40   50    170
     Name  chem  maths  phy
0    raju    40     40   40
1    ramu    60     60   60
2  sarang    40     40   40
3    raju    40     40   40
4    ramu    60     60   60

In [ ]:
import pandas as pd
import numpy as np

data = [['raju',40,60,40,40,60,12,4,6,40],['ramu',60,30,90,40,60,40],['dolu',40,50,1240,60,40]]

data1 = {'Name':['raju','ramu','sarang','raju','ramu','sarang','raju','ramu','sarang'],'chem':[40,60,40,40,60,40,40,60,40],'maths':[40,60,40,40,60,40,40,60,40],'phy':[40,60,40,40,60,40,40,60,40]}

df = pd.DataFrame (data1)

df ['bio'] = [60,48,50,60,48,50,60,48,50]

df ['total'] = df['chem'] +df['phy'] +df['maths'] +df['bio']

#print(df)

#df1 =df.loc[0:4,0:'phy']

df1 = df.loc[0:4, 'Name':'phy']

print(df1)

     Name  chem  maths  phy
0    raju    40     40   40
1    ramu    60     60   60
2  sarang    40     40   40
3    raju    40     40   40
4    ramu    60     60   60

In [ ]:
import pandas as pd
import numpy as np

data = [['raju',40,60,40,40,60,12,4,6,40],['ramu',60,30,90,40,60,40],['dolu',40,50,1240,60,40]]

data1 = {'Name':['raju','ramu','sarang','raju','ramu','sarang','raju','ramu','sarang'],'chem':[40,60,40,40,60,40,40,60,40],'maths':[40,60,40,40,60,40,40,60,40],'phy':[40,60,40,40,60,40,40,60,40]}

df = pd.DataFrame (data1)

df ['bio'] = [60,48,50,60,48,50,60,48,50]

df ['total'] = df['chem'] +df['phy'] +df['maths'] +df['bio']

#print(df)

df1 =df.iat[0,3]

print(df1)

df1 = df.at[0,4,0,'phy']

print(df1)

40

TypeError: DataFrame._get_value() got multiple values for argument 'takeable'

In [1]:

import pandas as pd
import numpy as np


#data = [['raju',40,60,40,40,60,12,4,6,40],['ramu',60,30,90,40,60,40],['dolu',40,50,1240,60,40]]

data1 = {'Name':['raju','ramu','sarang','raju','ramu','sarang','raju','ramu','sarang'],'chem':[40,60,40,40,60,40,40,60,40],'maths':[40,60,40,40,60,40,40,60,40],'phy':[40,60,40,40,60,40,40,60,40]}

df = pd.DataFrame(data1)

df['bio'] = [60,48,50,60,48,50,60,48,50]

df['total_mark'] = df['chem']+df['maths']+df['phy']+df['bio']


#print(df)

df1 = df.at[0,'phy']

print(df1)

40

In [4]:
import pandas as pd
import numpy as np


#data = [['raju',40,60,40,40,60,12,4,6,40],['ramu',60,30,90,40,60,40],['dolu',40,50,1240,60,40]]

data1 = {'Name':['raju','ramu','sarang','raju','ramu','sarang','raju','ramu','sarang'],'chem':[40,60,40,40,60,40,40,60,40],'maths':[40,60,40,40,60,40,40,60,40],'phy':[40,60,40,40,60,40,40,60,40]}

df = pd.DataFrame(data1)

df['bio'] = [60,48,50,60,48,50,60,48,50]

df['total_mark'] = df['chem']+df['maths']+df['phy']+df['bio']


#print(df)

df1 = df.iat[0,3]

print(df1)

40

In [5]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a,b):
   return a+b

print(df)

df1 = df.pipe(adder,2)

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
    0   1     2   3   4     5    6    7     8
0  42  62    42  42  62  14.0  6.0  8.0  42.0
1  62  32    92  42  62  42.0  NaN  NaN   NaN
2  42  52  1242  62  42   NaN  NaN  NaN   NaN

In [6]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a**2

print(df)

df1 = df.apply(adder,axis=1)    #row wise

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
        0       1          2       3       4       5     6     7       8
0  1600.0  3600.0     1600.0  1600.0  3600.0   144.0  16.0  36.0  1600.0
1  3600.0   900.0     8100.0  1600.0  3600.0  1600.0   NaN   NaN     NaN
2  1600.0  2500.0  1537600.0  3600.0  1600.0     NaN   NaN   NaN     NaN

In [7]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a**2

print(df)

df1 = df.apply(np.mean,axis=0)    #column wise

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0     46.666667
1     46.666667
2    456.666667
3     46.666667
4     53.333333
5     26.000000
6      4.000000
7      6.000000
8     40.000000
dtype: float64

In [8]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a**2

print(df)

df1 = df.apply(np.mean,axis=1)    #row wise

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0     33.555556
1     53.333333
2    286.000000
dtype: float64

In [9]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a+b

print(df)

df1 = df.apply(np.sum)

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0     140.0
1     140.0
2    1370.0
3     140.0
4     160.0
5      52.0
6       4.0
7       6.0
8      40.0
dtype: float64

In [10]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a.sum()

print(df)

df1 = df.apply(adder,axis=0)

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0     140.0
1     140.0
2    1370.0
3     140.0
4     160.0
5      52.0
6       4.0
7       6.0
8      40.0
dtype: float64

In [11]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a.sum()

print(df)

df1 = df.apply(adder,axis=1)

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0     302.0
1     320.0
2    1430.0
dtype: float64

In [12]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a.sum()

print(df)

df1 = df.apply(lambda x : x.max() - x.min() , axis = 0)

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0      20.0
1      30.0
2    1200.0
3      20.0
4      20.0
5      28.0
6       0.0
7       0.0
8       0.0
dtype: float64

In [13]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a.sum()

print(df)

df1 = df.apply(lambda x : x.max() - x.min() , axis = 1)

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0      56.0
1      60.0
2    1200.0
dtype: float64